{%extends 'base.html'%} {%block body%}
{% if user.is_authenticated %}
<br />

<center>
  <div class="button-group">
    <a href="{% url 'display_laptops' %}" class="btn btn-outline-primary btn-md" role="button">Laptops</a>
    <a href="{% url 'add_laptop' %}" class="btn btn-outline-success btn-md" role="button">+</a>

    <a href="{% url 'display_desktops' %}" class="btn btn-outline-primary btn-md" role="button">Desktops</a>
    <a href="{% url 'add_desktop'%}" class="btn btn-outline-success btn-md" role="button">+</a>
    <a href="{% url 'display_smartphones' %}" class="btn btn-outline-primary btn-md" role="button">Smartphones</a>
    <a href="{% url 'add_smartphones'%}" class="btn btn-outline-success btn-md" role="button">+</a>
    <a href="{% url 'display_headphones' %}" class="btn btn-outline-primary btn-md" role="button">Headphones</a>
    <a href="{% url 'add_headphones' %}" class="btn btn-outline-success btn-md" role="button">+</a>
    <a href="{% url 'display_consoles' %}" class="btn btn-outline-primary btn-md" role="button">Consoles</a>
    <a href="{% url 'add_consoles' %}" class="btn btn-outline-success btn-md" role="button">+</a>
  </div>
</center>
<br />
<h3 class="display-4">
  Currently Viewing:
  <small class="text-muted"> {{ header }} </small>
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="lead">Id</th>
      <th class="lead">Model</th>
      <th class="lead">Price</th>
      <th class="lead">Status</th>
      <th class="lead">Brand</th>
      <th class="lead">Shipping</th>
      <th class="lead">Issues</th>
      <!-- <th>Date Launched</th> -->
    </tr>
  </thead>
  <tbody>
    {% for item in items%}
    <tr>
      <td>{{item.pk}}</td>
      <td>{{item.type}}</td>
      <td>{{item.price}}</td>
      <td>{{item.status}}</td>
      <td>{{item.brand}}</td>
      <td>{{item.shipping}}</td>
      <td>{{item.issues}}</td>
      <!-- <td>{{item.date}}</td> -->
      {% if header == 'laptops' %}
      <td>
        <a href="{%url 'edit_laptop' item.pk %}" class="btn btn-success btn-sm" role="button">Edit-Laptop</a>
        <a href="{%url 'delete_laptop' item.pk %}" class="btn btn-danger btn-sm" role="button">delete-Laptop</a>
      </td>
      {% elif header == 'desktops' %}
      <td>
        <a href="{%url 'edit_desktop' item.pk %}" class="btn btn-success btn-sm" role="button">Edit-Desktop</a>
        <a href="{%url 'delete_desktop' item.pk %}" class="btn btn-danger btn-sm" role="button">delete-Desktop</a>
      </td>
      {% elif header == 'smartphones' %}
      <td>
        <a href="{% url 'edit_smartphones' item.pk %}" class="btn btn-success btn-sm" role="button">Edit-Smartphones</a>
        <a href="{% url 'delete_smartphones' item.pk %}" class="btn btn-danger btn-sm"
          role="button">delete-Smartphones</a>
      </td>
      {% elif header == 'consoles' %}
      <td>
        <a href="{% url 'edit_consoles' item.pk %}" class="btn btn-success btn-sm" role="button">Edit-consoles</a>
        <a href="{% url 'delete_consoles' item.pk %}" class="btn btn-danger btn-sm" role="button">delete-consoles</a>
      </td>
      {% else %}
      <td>
        <a href="{% url 'edit_headphones' item.pk %}" class="btn btn-success btn-sm" role="button">Edit-headphones</a>
        <a href="{% url 'delete_headphones' item.pk %}" class="btn btn-danger btn-sm"
          role="button">delete-headphones</a>
      </td>
      {% endif %}
    </tr>
    {%endfor%}
  </tbody>
</table>


{% else %}
<div class="container">
  <p class="display-2">Hello There.</p>
  <p class="lead">Plese login or Signup with your credentials to view the Inventory's Information</p>

</div>
{% endif %}

{%endblock%}